<a href="https://colab.research.google.com/github/hsantos1985/R-Jobs/blob/main/BRASIL_API_CEP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#OBTENÇÃO DE CEP DA API - "BRASIL API"

####PARÂMETROS

In [ ]:
#BIBLIOTECAS
library(dplyr)
library(httr)
library(jsonlite)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [ ]:
u_base<-
  "https://brasilapi.com.br/api"

####CEP

In [ ]:
endpoint_cep<-
  "/cep/v2/"

cep<-
  "01310930"

u_cep<-
  paste0(u_base,endpoint_cep,cep)

r_cep<-
  GET(u_cep)

In [ ]:
#obtenção dos resultados

content(r_cep)

content(r_cep, as="text")

content(r_cep, as="raw")

content(r_cep, as="parsed")

content(r_cep, as="text") %>%
  fromJSON()

$cep
[1] "01310930"

$state
[1] "SP"

$city
[1] "São Paulo"

$neighborhood
[1] "Bela Vista"

$street
[1] "Avenida Paulista 2100"

$service
[1] "open-cep"

$location
$location$type
[1] "Point"

$location$coordinates
$location$coordinates$longitude
[1] "-46.6598019"

$location$coordinates$latitude
[1] "-23.5580816"

[1] "{\"cep\":\"01310930\",\"state\":\"SP\",\"city\":\"São Paulo\",\"neighborhood\":\"Bela Vista\",\"street\":\"Avenida Paulista 2100\",\"service\":\"open-cep\",\"location\":{\"type\":\"Point\",\"coordinates\":{\"longitude\":\"-46.6598019\",\"latitude\":\"-23.5580816\"}}}"

  [1] 7b 22 63 65 70 22 3a 22 30 31 33 31 30 39 33 30 22 2c 22 73 74 61 74 65 22
 [26] 3a 22 53 50 22 2c 22 63 69 74 79 22 3a 22 53 c3 a3 6f 20 50 61 75 6c 6f 22
 [51] 2c 22 6e 65 69 67 68 62 6f 72 68 6f 6f 64 22 3a 22 42 65 6c 61 20 56 69 73
 [76] 74 61 22 2c 22 73 74 72 65 65 74 22 3a 22 41 76 65 6e 69 64 61 20 50 61 75
[101] 6c 69 73 74 61 20 32 31 30 30 22 2c 22 73 65 72 76 69 63 65 22 3a 22 6f 70
[126] 65 6e 2d 63 65 70 22 2c 22 6c 6f 63 61 74 69 6f 6e 22 3a 7b 22 74 79 70 65
[151] 22 3a 22 50 6f 69 6e 74 22 2c 22 63 6f 6f 72 64 69 6e 61 74 65 73 22 3a 7b
[176] 22 6c 6f 6e 67 69 74 75 64 65 22 3a 22 2d 34 36 2e 36 35 39 38 30 31 39 22
[201] 2c 22 6c 61 74 69 74 75 64 65 22 3a 22 2d 32 33 2e 35 35 38 30 38 31 36 22
[226] 7d 7d 7d

$cep
[1] "01310930"

$state
[1] "SP"

$city
[1] "São Paulo"

$neighborhood
[1] "Bela Vista"

$street
[1] "Avenida Paulista 2100"

$service
[1] "open-cep"

$location
$location$type
[1] "Point"

$location$coordinates
$location$coordinates$longitude
[1] "-46.6598019"

$location$coordinates$latitude
[1] "-23.5580816"

$cep
[1] "01310930"

$state
[1] "SP"

$city
[1] "São Paulo"

$neighborhood
[1] "Bela Vista"

$street
[1] "Avenida Paulista 2100"

$service
[1] "open-cep"

$location
$location$type
[1] "Point"

$location$coordinates
$location$coordinates$longitude
[1] "-46.6598019"

$location$coordinates$latitude
[1] "-23.5580816"

####TABELA FIPE

In [ ]:
endpoint_fipe<-
  '/fipe/marcas/v1/'

tipo_veiculos<-
  'carros'

u_fipe<-
  paste0(u_base,endpoint_fipe,tipo_veiculos)

In [ ]:
r_fipe<-
  GET(u_fipe, write_disk("C:\\Users\\SSD480GB\\OneDrive\\Documentos\\03_EDUCAIONAL\\HOTMART\\01_CURSO_WEBSCRAPING\\DADOS\\fipe_marcas.json", overwrite = TRUE))

In [ ]:
content(r_fipe, as='text') %>%
  fromJSON(simplifyDataFrame = TRUE)


content(r_fipe,simplifyDataFrame = TRUE)


content(r_fipe,simplifyDataFrame = TRUE) %>%
  tibble::as_tibble()

   nome             valor
1  Acura            1
2  Agrale           2
3  Alfa Romeo       3
4  AM Gen           4
5  Asia Motors      5
6  Audi             6
7  BMW              7
8  BRM              8
9  Cadillac         10
10 CBT Jipe         11
11 Chrysler         12
12 Citroën          13
13 Cross Lander     14
14 Daewoo           15
15 Daihatsu         16
16 Dodge            17
17 Engesa           18
18 Envemo           19
19 Ferrari          20
20 Fiat             21
21 Ford             22
22 GM - Chevrolet   23
23 Gurgel           24
24 Honda            25
25 Hyundai          26
26 Isuzu            27
27 Jaguar           28
28 Jeep             29
29 JPX              30
30 Kia Motors       31
⋮  ⋮                ⋮
70 smart            157
71 Caoa Chery/Chery 161
72 Wake             163
73 TAC              165
74 MG               167
75 LIFAN            168
76 Fyber            170
77 LAMBORGHINI      171
78 JAC              177
79 CHANGAN          182
80 SHINERAY         183
81 RAM              185
82 RELY             186
83 ASTON MARTIN     189
84 FOTON            190
85 Rolls-Royce      195
86 GEELY            199
87 Baby             207
88 IVECO            208
89 Mclaren          211
90 HITECH ELECTRIC  214
91 CAB Motors       236
92 BYD              238
93 GWM              240
94 D2D Motors       241
95 Caoa Chery       245
96 DFSK             246
97 SERES            247
98 FEVER            249
99 NETA             250

   nome             valor
1  Acura            1
2  Agrale           2
3  Alfa Romeo       3
4  AM Gen           4
5  Asia Motors      5
6  Audi             6
7  BMW              7
8  BRM              8
9  Cadillac         10
10 CBT Jipe         11
11 Chrysler         12
12 Citroën          13
13 Cross Lander     14
14 Daewoo           15
15 Daihatsu         16
16 Dodge            17
17 Engesa           18
18 Envemo           19
19 Ferrari          20
20 Fiat             21
21 Ford             22
22 GM - Chevrolet   23
23 Gurgel           24
24 Honda            25
25 Hyundai          26
26 Isuzu            27
27 Jaguar           28
28 Jeep             29
29 JPX              30
30 Kia Motors       31
⋮  ⋮                ⋮
70 smart            157
71 Caoa Chery/Chery 161
72 Wake             163
73 TAC              165
74 MG               167
75 LIFAN            168
76 Fyber            170
77 LAMBORGHINI      171
78 JAC              177
79 CHANGAN          182
80 SHINERAY         183
81 RAM              185
82 RELY             186
83 ASTON MARTIN     189
84 FOTON            190
85 Rolls-Royce      195
86 GEELY            199
87 Baby             207
88 IVECO            208
89 Mclaren          211
90 HITECH ELECTRIC  214
91 CAB Motors       236
92 BYD              238
93 GWM              240
94 D2D Motors       241
95 Caoa Chery       245
96 DFSK             246
97 SERES            247
98 FEVER            249
99 NETA             250

   nome             valor
1  Acura            1
2  Agrale           2
3  Alfa Romeo       3
4  AM Gen           4
5  Asia Motors      5
6  Audi             6
7  BMW              7
8  BRM              8
9  Cadillac         10
10 CBT Jipe         11
11 Chrysler         12
12 Citroën          13
13 Cross Lander     14
14 Daewoo           15
15 Daihatsu         16
16 Dodge            17
17 Engesa           18
18 Envemo           19
19 Ferrari          20
20 Fiat             21
21 Ford             22
22 GM - Chevrolet   23
23 Gurgel           24
24 Honda            25
25 Hyundai          26
26 Isuzu            27
27 Jaguar           28
28 Jeep             29
29 JPX              30
30 Kia Motors       31
⋮  ⋮                ⋮
70 smart            157
71 Caoa Chery/Chery 161
72 Wake             163
73 TAC              165
74 MG               167
75 LIFAN            168
76 Fyber            170
77 LAMBORGHINI      171
78 JAC              177
79 CHANGAN          182
80 SHINERAY         183
81 RAM              185
82 RELY             186
83 ASTON MARTIN     189
84 FOTON            190
85 Rolls-Royce      195
86 GEELY            199
87 Baby             207
88 IVECO            208
89 Mclaren          211
90 HITECH ELECTRIC  214
91 CAB Motors       236
92 BYD              238
93 GWM              240
94 D2D Motors       241
95 Caoa Chery       245
96 DFSK             246
97 SERES            247
98 FEVER            249
99 NETA             250

####TABELAS DA FIPE

In [ ]:
endpoint_fipe_tabelas<-'/fipe/tabelas/v1/'
u_fipe_tabelas<-
  paste0(u_base,endpoint_fipe_tabelas)
r_fipe_tabelas<-
  GET(u_fipe_tabelas)



  r_fipe_tabelas %>%
  content(simplifyDataFrame = TRUE) %>%
  tibble::as_tibble()

    codigo mes
1   319    março/2025
2   318    fevereiro/2025
3   317    janeiro/2025
4   316    dezembro/2024
5   315    novembro/2024
6   314    outubro/2024
7   313    setembro/2024
8   312    agosto/2024
9   311    julho/2024
10  310    junho/2024
11  309    maio/2024
12  308    abril/2024
13  307    março/2024
14  306    fevereiro/2024
15  305    janeiro/2024
16  304    dezembro/2023
17  303    novembro/2023
18  302    outubro/2023
19  301    setembro/2023
20  300    agosto/2023
21  299    julho/2023
22  298    junho/2023
23  297    maio/2023
24  296    abril/2023
25  295    março/2023
26  294    fevereiro/2023
27  293    janeiro/2023
28  292    dezembro/2022
29  291    novembro/2022
30  290    outubro/2022
⋮   ⋮      ⋮
262 34     janeiro/2008
263 33     dezembro/2007
264 32     novembro/2007
265 31     outubro/2007
266 30     setembro/2007
267 29     agosto/2007
268 28     julho/2007
269 27     junho/2007
270 26     maio/2007
271 25     julho/2005
272 24     abril/2007
273 23     março/2007
274 21     fevereiro/2007
275 20     janeiro/2007
276 19     dezembro/2006
277 18     novembro/2006
278 17     outubro/2006
279 16     setembro/2006
280 15     agosto/2006
281 14     julho/2006
282 13     junho/2006
283 12     maio/2006
284 11     abril/2006
285 10     março/2006
286  9     fevereiro/2006
287  8     janeiro/2006
288  7     agosto/2005
289  6     novembro/2005
290  2     outubro/2005
291  1     setembro/2005